// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userform
  .error
    color: #a94442
    border-color: #a94442
    background-color: #f2dede
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

  .valid
    color: #3c763d
    border-color: #3c763d
    background-color: #dff0d8

// Tree
g.node
  font-family: Verdana, Helvetica
  font-size: 12px
  font-weight: bold

  text
    text-shadow: #FFF 2px 0px 2px, #FFF 0px 2px 2px, #FFF 0px -2px 2px, #FFF -2px 0px 2px

circle.node-dot
  fill: white
  stroke: red
  stroke-width: 3px

path.link
  fill: none
  stroke: #1C8ACD
